@page
@model univer.Pages.ChatModel
@{
    ViewData["Title"] = "Чат";
}
@{
    <div class="uk-section uk-background-primary uk-section-full">
        <div class="uk-container">
            @RouteData.Values["id"]
        </div>
    </div>
}
