@page
@model univer.Pages.LogoutModel
@{
    ViewData["Title"] = "Выход";
}

@{
    <div class="uk-section uk-background-primary uk-section-full">
        <div class="uk-container">

        </div>
    </div>
}
